* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  margin: 0 auto;
  scroll-behavior: smooth;
}

body {
  font-family: "Times New Roman", Times, serif;
  background: whitesmoke;
}

html,
body {
  position: relative;
  overflow-x: hidden;
}

.page-content-container {
  width: 100%;
  margin: 0 auto;
}

@media only screen and (min-width: 1050px) {
  .page-content-container {
    width: 80%;
    margin: 0 auto;
  }
}

.mobile-header {
  height: 10vh;
  z-index: 100;
  background: #0e0c0c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #dfd020;
  top: 0;
  -webkit-box-shadow: 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.mobile-header.fixed {
  position: fixed;
  opacity: 0.9;
}

.mobile-header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1em;
}

.mobile-header__contact p span {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.icn {
  height: 22px;
  width: 28px;
}

.icnbar {
  height: 35px;
  width: 45px;
}

.mobile-header__menu-icon {
  font-size: 4.5em;
  margin-right: 0.4em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.mobile-header__menu-icon.show {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.mobile-navigation {
  width: 100vw;
  height: 90vh;
  text-align: center;
  padding: 2rem;
  margin: 0 auto;
  background-color: #0e0c0c;
  z-index: 20;
  position: absolute;
  top: 10vh;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0.9;
}

.mobile-navigation-list {
  list-style: none;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-navigation-item {
  position: relative;
  width: 40vw;
  padding: 0.7em;
}

.mobile-navigation-link {
  color: #dfd020;
  text-decoration: none;
  font-size: 2em;
}

.mobile-navigation.show {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  overflow: hidden;
}

.desktop-header {
  display: none;
}

.desktop-header__contact {
  background-color: #0e0c0c;
  color: #dfd020;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6vh;
  font-size: 1.8em;
  padding-left: 23vw;
}

.contact-icon {
  margin: 1em;
}

.contact-icon span {
  margin-left: 0.3em;
}

.desktop-header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3vh;
  background-color: #dfd020;
  padding: 4em 1em;
  width: 100%;
  z-index: 100;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  top: 0;
}

.desktop-header__navigation.fixed {
  position: fixed;
  -webkit-box-shadow: 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px rgba(0, 0, 0, 0.1);
  opacity: 0.8;
}

.desktop-header__logo span {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.desktop-header__logo a {
  text-decoration: none;
  color: #0e0c0c;
}

.desktop-header__logo {
  font-size: 4em;
  font-weight: 400;
  font-family: "Times New Roman", Times, serif;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  cursor: pointer;
}

.desktop-header__logo:hover .logo-title {
  background-color: #0e0c0c;
  color: #dfd020;
}

.desktop-header__logo:hover .logo-sub-title {
  background-color: #dfd020;
  color: #161515;
}

.logo-title {
  border: 2px solid #0e0c0c;
  padding: 0.2em;
  font-weight: bold;
}

.logo-sub-title {
  background-color: #0e0c0c;
  padding: 0.2em;
  color: #dfd020;
  border: 2px solid #0e0c0c;
  font-weight: bold;
}

.desktop-header__menu {
  -webkit-box-flex: 2.5;
      -ms-flex: 2.5;
          flex: 2.5;
}

.menu-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 2em;
  font-weight: bold;
  height: 100%;
}

.menu-link {
  text-decoration: none;
  color: #0e0c0c;
  position: relative;
  padding: 0.8em 0.3em;
  min-width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 10;
}

.menu-link:hover.menu-link {
  color: whitesmoke;
  padding-right: 1em;
}

.menu-link::after,
.menu-link::before {
  content: "";
  display: block;
  position: absolute;
  width: 0%;
  height: 0%;
  border: 0px solid;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 2px;
  z-index: 5;
}

.menu-link::after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  z-index: -190;
  background: black;
}

.menu-link::before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  z-index: -190;
  background: #ffd000;
}

.menu-link:hover:after,
.menu-link:hover:before {
  width: 105%;
  height: 105%;
  border: 2px solid black;
}

.menu-link.active::before,
.menu-link.active::after {
  width: 105%;
  height: 105%;
  border: 2px solid black;
}

@media only screen and (min-width: 1000px) {
  .desktop-header {
    display: block;
  }
  .mobile-header {
    display: none;
  }
  .mobile-navigation {
    display: none;
  }
}

@media only screen and (min-width: 1000px) and (min-width: 1250px) {
  .menu-list {
    padding: 0em 5em;
  }
}

.page-title {
  position: relative;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.74);
  background-image: url("/landingbackground2.jpg");
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.page-title__name {
  border-top: 2px solid #dfd020;
  border-bottom: 2px solid #dfd020;
  padding: 0.5rem 0em;
}

.page-title__name h1 {
  font-size: 5.2em;
  font-weight: bolder;
  color: #dfd020;
  font-family: Impact, "Merriweather", serif;
  letter-spacing: 3px;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
}

.page-title__name h1.active {
  -webkit-transform: translateX(0vw);
          transform: translateX(0vw);
}

.page-title__name p {
  font-size: 1.8em;
  color: #ffffff;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
}

.page-title__name p.active {
  -webkit-transform: translateX(0vw);
          transform: translateX(0vw);
}

.page-title__btn button {
  background: transparent;
  color: #dfd020;
  border: 2px solid #dfd020;
  margin-top: 3rem;
  padding: 1.3rem;
  border-radius: 5px;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.page-title__btn button.active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media only screen and (min-width: 720px) {
  .page-title__name h1 {
    font-size: 7.5em;
  }
  .page-title__name p {
    font-size: 2.5em;
  }
  .page-title__btn button {
    padding: 2rem 3rem;
    font-size: 1.4em;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
}

@media only screen and (min-width: 1000px) {
  .page-title {
    background-color: rgba(0, 0, 0, 0.74);
    background-image: url("/landingbackground1.jpg");
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 20%;
  }
}

@media only screen and (min-width: 1100px) {
  .page-title__name h1 {
    font-size: 9em;
  }
  .page-title__btn button:hover {
    background: #dfd020;
    color: #0e0c0c;
    border: 2px solid #0e0c0c;
  }
}

@media only screen and (min-width: 1400px) {
  .page-title__name h1 {
    font-size: 12em;
  }
  .page-title__name p {
    font-size: 3em;
  }
  .page-title__btn button {
    margin-top: 4em;
    font-size: 1.7em;
  }
}

.about {
  padding: 2rem auto;
}

.about__desc {
  margin: 2rem 1rem 1rem 2rem;
}

.about__desc p {
  padding: 1.5rem;
  font-weight: normal;
  letter-spacing: .5px;
  text-align: left;
  line-height: 1.3em;
  font-size: 1.5em;
}

.about__images {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5rem;
}

.about__images img {
  width: 45vw;
  height: 30vh;
  margin: .5em auto;
  -webkit-box-shadow: 0px 1px 1px 3px #dfd020;
          box-shadow: 0px 1px 1px 3px #dfd020;
}

.about__finish img {
  width: 100vw;
  overflow: hidden;
}

@media only screen and (min-width: 500px) {
  .about__images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about__images img {
    width: 40vw;
  }
}

@media only screen and (min-width: 600px) {
  .about__images img {
    width: 40vw;
  }
  .about__desc p {
    padding: 1.5rem;
    font-weight: normal;
    letter-spacing: .5px;
    text-align: left;
    line-height: 1.3em;
    font-size: 1.6em;
  }
}

@media only screen and (min-width: 730px) {
  .about__desc p {
    font-size: 2em;
  }
  .about__finish {
    display: none;
  }
  .about__images img {
    width: 40vw;
    height: 40vh;
  }
}

@media only screen and (min-width: 1000px) {
  .about__images img {
    width: 35vw;
    height: 40vh;
  }
}

@media only screen and (min-width: 1150px) {
  .about__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about__images {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__images img {
    width: 20vw;
    height: 40vh;
    -webkit-box-shadow: 0px 1px 3px 5px #dfd020;
            box-shadow: 0px 1px 3px 5px #dfd020;
  }
  .about__images img:first-child {
    -webkit-transform: translate(15%);
            transform: translate(15%);
  }
  .about__images img:nth-child(2) {
    -webkit-transform: translateY(35%) translateX(-5%);
            transform: translateY(35%) translateX(-5%);
  }
}

@media only screen and (min-width: 1300px) {
  .about__desc p {
    line-height: 2em;
  }
  .about__images img {
    height: 35vh;
  }
}

.services-title {
  font-size: 1.4em;
}

.services__description {
  display: -ms-grid;
  display: grid;
  gap: 5px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  width: 98vw;
  margin: 0 auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}

.service {
  max-height: 100%;
  max-width: 100%;
  position: relative;
  -o-object-fit: fill;
     object-fit: fill;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  border: 0.1em solid #dfd020;
}

.service img {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-position: inherit;
     object-position: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.service img:hover {
  scale: 1.2;
}

div.service:nth-child(1) > img:nth-child(2) {
  -o-object-position: 75% 30%;
     object-position: 75% 30%;
}

div.service:nth-child(6) > img:nth-child(2) {
  -o-object-position: 40% 20%;
     object-position: 40% 20%;
}

.service-name {
  position: absolute;
  font-size: 2em;
  left: 50%;
  bottom: 10%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  background-color: #dfd020;
  color: #0e0c0c;
  opacity: 0.9;
  padding: 0.5em 1em;
  font-size: 1.7em;
  z-index: 10;
}

.service-footer {
  text-align: center;
  width: 50%;
  border-radius: 5px;
  grid-column: 1/-1;
  margin: 2rem auto;
  font-size: 2rem;
  font-weight: bold;
  background: #dfd020;
  color: #0e0c0c;
  padding: 0.5rem;
}

@media only screen and (min-width: 500px) {
  .services__description {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    gap: 2px;
  }
  .service-name {
    font-size: 1.5em;
    padding: 0.5em;
  }
  .service {
    border: none;
  }
}

@media only screen and (min-width: 750px) {
  .service-name {
    font-size: 1.9em;
  }
  .service-footer {
    width: 30%;
  }
}

@media only screen and (min-width: 1050px) {
  .services {
    width: 80vw;
    margin: 0 auto;
  }
  .services__description {
    gap: 3px;
    width: 100%;
  }
  .service-name {
    width: 80%;
    text-align: center;
  }
}

@media only screen and (min-width: 1300px) {
  .service-footer {
    margin-top: 4rem;
  }
  .services__description {
    height: 70vh;
    gap: 10px;
  }
}

.offer__desc {
  display: -ms-grid;
  display: grid;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 2em;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 3.5rem;
  gap: 3em;
  background: whitesmoke;
}

.offer__desc-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.offer__desc-item__icon {
  font-size: 5.5em;
  color: #dfd020;
  margin-bottom: 0.1em;
  font-weight: bold;
}

.offer__desc-item img {
  width: 90px;
  height: 65px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.offer__desc-item__info {
  width: 50%;
  margin: 0px auto;
  font-size: 1.8em;
  color: #0e0c0c;
  font-weight: bold;
}

@media only screen and (min-width: 600px) {
  .offer__desc {
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 0;
    padding: 0;
  }
}

@media only screen and (min-width: 750px) {
  .offer__desc {
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    padding: 1em;
  }
}

@media only screen and (min-width: 1250px) {
  .offer__desc-item__icon {
    font-size: 7.5em;
  }
  .offer__desc-item__info {
    letter-spacing: 1.2px;
    font-size: 1.9em;
  }
}

.contact-form-title {
  font-size: 1.4em;
}

.contact-form {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: rgba(0, 0, 0, 0.89);
  background-image: url("/img/contactformImage.jpeg");
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.contact-form div {
  width: 100%;
  text-align: center;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 750px;
}

.contact__name-input,
.contact__email-input,
.contact__message-input,
.contact__submit-button {
  width: 80%;
  margin: 0.8em auto;
  padding: 0.7em;
  color: whitesmoke;
  border: none;
  background: transparent;
}

.contact__name-input::-webkit-input-placeholder,
.contact__email-input::-webkit-input-placeholder,
.contact__message-input::-webkit-input-placeholder,
.contact__submit-button::-webkit-input-placeholder {
  color: whitesmoke;
  font-size: 1.3em;
}

.contact__name-input:-ms-input-placeholder,
.contact__email-input:-ms-input-placeholder,
.contact__message-input:-ms-input-placeholder,
.contact__submit-button:-ms-input-placeholder {
  color: whitesmoke;
  font-size: 1.3em;
}

.contact__name-input::-ms-input-placeholder,
.contact__email-input::-ms-input-placeholder,
.contact__message-input::-ms-input-placeholder,
.contact__submit-button::-ms-input-placeholder {
  color: whitesmoke;
  font-size: 1.3em;
}

.contact__name-input::placeholder,
.contact__email-input::placeholder,
.contact__message-input::placeholder,
.contact__submit-button::placeholder {
  color: whitesmoke;
  font-size: 1.3em;
}

.contact-form input {
  border-bottom: 2px solid #dfd020;
}

.contact-form textarea {
  border: 2px solid #dfd020;
  margin-top: 3em;
}

.contact__submit-button {
  background: transparent;
  color: #dfd020;
  border: 2px solid #dfd020;
  font-size: 2.3em;
  padding: 0.2em;
  border-radius: 5px;
}

.contact__submit-button:hover {
  background: #0e0c0c;
}

.direct-contact {
  color: #dfd020;
  font-size: 1.5em;
  padding: 1em;
  margin-top: 0.5em;
}

.direct-contact div {
  margin: 0.2em 2em;
  text-align: left;
}

.direct-contact span {
  margin-left: 0.5em;
}

.contact__error-message {
  font-size: 2em;
  color: whitesmoke;
  background: red;
  margin: 1em;
}

@media only screen and (min-width: 520px) {
  .direct-contact {
    font-size: 1.8em;
  }
}

@media only screen and (min-width: 700px) {
  .direct-contact {
    font-size: 2em;
  }
}

@media only screen and (min-width: 800px) {
  .contact-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1em;
  }
  form {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
  }
  .direct-contact {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    text-align: left;
    padding: 0.2em;
    border: 2px solid #dfd020;
    height: 30%;
    margin: auto 0.5em;
  }
  .direct-contact div {
    margin: 0.2em 0.5em;
    text-align: left;
  }
  .direct-contact span {
    margin-left: 0.2em;
  }
}

@media only screen and (min-width: 1140px) {
  .direct-contact {
    padding: 0.7em;
    max-width: 370px;
  }
  form.contact {
    max-width: 750px;
  }
  .contact-form {
    padding: 1em 5em;
    background-image: url("/contactFormImage2.jpg");
  }
}

@media only screen and (min-width: 1280px) {
  .contact-form {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 1em 9em;
  }
}

@media only screen and (min-width: 1470px) {
  .contact-form {
    padding: 1em 20em;
  }
}

@media only screen and (min-width: 1700px) {
  .contact-form {
    padding: 1em 35em;
  }
}

.page-footer {
  background: black;
  color: #c0b2b2;
  text-align: center;
  padding: 0.8em;
  font-size: 1.2em;
  -webkit-transform: translateX();
          transform: translateX();
}

.space-between-sections {
  height: 20vh;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 2em;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.space-between-sections span {
  width: 10px;
  height: 10px;
  background: black;
  border-radius: 50%;
  background: #dfd020;
  border: 1px solid #0e0c0c;
}

.space-between-sections span:nth-child(2) {
  width: 7px;
  height: 7px;
}

.space-between-sections span:nth-child(3) {
  height: 5px;
  border-radius: 5px;
  width: 40px;
}

.section__name {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0.5em 1em;
  margin: 2rem auto;
  text-align: center;
  font-size: 1.4em;
  background-color: #0e0c0c;
  color: #ffffff;
  position: relative;
  border-radius: 5px;
}

.section__name h1 {
  padding: 0;
}

.section__name h1 span {
  color: #dfd020;
}

@media only screen and (min-width: 750px) {
  .section__name {
    font-size: 2em;
  }
}

@media only screen and (min-width: 1150px) {
  .section__name {
    font-size: 2.7em;
    margin: 2em auto;
    background: #0e0c0c;
  }
}
/*# sourceMappingURL=main.css.map */