// ABOUT ARTICLE WITH DESCRIPTION START ---------------------------------


.about {

    padding: 2rem auto;


}


// ABOUT COMPANY DESCRIPTION --------------------------------------

.about__desc {
    margin: 2rem 1rem 1rem 2rem;
}

.about__desc p {
    padding: 1.5rem;
    font-weight: normal;
    letter-spacing: .5px;
    text-align: left;
    line-height: 1.3em;
    font-size: 1.5em;
}

// ABOUT COMPANY IMAGES --------------

.about__images {
    position: relative;
    display: flex;
    margin-bottom: 5rem;
}



.about__images img {
    width: 45vw;
    height: 30vh;
    margin: .5em auto;
    box-shadow: 0px 1px 1px 3px $MainYellowColor;

}

.about__finish img {
    width: 100vw;
    overflow: hidden;
}







// ABOUT COMPANY DESCRIPTION END ----------------------------------------------

// MEDIA QUERIES MEDIA QUERIES MEDIA QUERIESMEDIA QUERIES

@media only screen and (min-width: 500px) {
    .about__images {
        display: flex;
        justify-content: center;
    }

    .about__images img {
        width: 40vw;
    }
}


@media only screen and (min-width: 600px) {
    .about__images img {
        width: 40vw;

    }


    .about__desc p {
        padding: 1.5rem;
        font-weight: normal;
        letter-spacing: .5px;
        text-align: left;
        line-height: 1.3em;
        font-size: 1.6em;
    }
}

@media only screen and (min-width: 730px) {
    .about__desc p {
        font-size: 2em;
    }

    .about__finish {
        display: none;
    }

    .about__images img {
        width: 40vw;
        height: 40vh;
    }

}

@media only screen and (min-width: 1000px) {
    .about__images img {
        width: 35vw;
        height: 40vh;
    }
}




@media only screen and (min-width: 1150px) {
    .about__content {
        display: flex;
    }

    .about__images {
        align-items: center;
    }

    .about__images img {
        width: 20vw;
        height: 40vh;
        box-shadow: 0px 1px 3px 5px $MainYellowColor;


    }

    .about__images img:first-child {
        transform: translate(15%);
    }

    .about__images img:nth-child(2) {
        transform: translateY(35%) translateX(-5%)
    }
}

@media only screen and (min-width: 1300px) {
    .about__desc p {
        line-height: 2em;
    }

    .about__images img {
        height: 35vh;
    }
}